<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes</ion-title>    
    <ion-buttons slot="end">            
        <ion-menu-button menu="end">
          <ion-icon name="notifications"></ion-icon>
        </ion-menu-button>        
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>     
  <ion-list>
    <ion-item>
      <b>Selecione os serviços que deseja contratar:</b>
    </ion-item>    
    <ion-item *ngFor="let d of subserviceDetails; let i = index">      
      <ion-label>{{d.caption}}</ion-label>
      <ion-checkbox (click)="selectSubserviceDetail(i)" slot="start"></ion-checkbox>
      <ion-note slot="end">R${{d.preco}}</ion-note>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col><ion-label>Preço total: R${{totalValue}}</ion-label></ion-col>
      <ion-col><ion-button [routerLink]="'/search-prestador'" [routerDirection]="'forward'" >Confirmar</ion-button></ion-col>
    </ion-row>    
  </ion-grid>  
  


</ion-content>
