<ion-header>
  <ion-toolbar>
    <ion-title>Prestadoras de serviço</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content>        
    <ion-card *ngFor="let prestadora of prestadoras">
      <button (click)="startNewOrder(prestadora)">
        <ion-card-content>
          <ion-grid>
              <ion-row>
                <ion-col><ion-img src="/assets/testAvatar.png" ></ion-img></ion-col>
                <ion-col size="9"> 
                  <ion-grid>
                    <ion-row>
                      {{prestadora.nome}}
                    </ion-row>
                    <ion-row>
                        {{convertedDistance(prestadora.distance)}}
                    </ion-row>
                    <ion-row>
                        {{formatPreco()}}
                    </ion-row>
                  </ion-grid>
                </ion-col>                                 
              </ion-row>
          </ion-grid>
      </ion-card-content>  
      </button>
    </ion-card>  
</ion-content>
