<ion-header>
  <ion-toolbar>
    <ion-title>Prestadoras de serviço</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card >
        <button ion-item [routerDirection]="'forward'" [routerLink]="'/new-order'">                
          
          <ion-card-content>
              <ion-grid>
                  <ion-row>
                    <ion-col><ion-img src="/assets/testAvatar.png" ></ion-img></ion-col>
                    <ion-col size="9"> 
                      <ion-grid>
                        <ion-row>
                          Camilla Soares
                        </ion-row>
                        <ion-row>
                            535m
                        </ion-row>
                        <ion-row>
                            R$ 350,00
                        </ion-row>
                      </ion-grid>
                    </ion-col>                                 
                  </ion-row>
              </ion-grid>
          </ion-card-content>
        </button>
    </ion-card>
    <ion-card >
        <button ion-item [routerDirection]="'forward'" [routerLink]="'/new-order'">                
          
          <ion-card-content>
              <ion-grid>
                  <ion-row>
                    <ion-col><ion-img src="/assets/testAvatar.png" ></ion-img></ion-col>
                    <ion-col size="9"> 
                      <ion-grid>
                        <ion-row>
                          Tamires Kafka
                        </ion-row>
                        <ion-row>
                            900m
                          </ion-row>
                        <ion-row>
                            R$ 350,00
                        </ion-row>
                      </ion-grid>
                    </ion-col>                    
                  </ion-row>
              </ion-grid>
          </ion-card-content>
        </button>
    </ion-card>
    <ion-card >
        <button ion-item [routerDirection]="'forward'" [routerLink]="'/new-order'">                
          
          <ion-card-content>
              <ion-grid>
                  <ion-row>
                    <ion-col><ion-img src="/assets/testAvatar.png" ></ion-img></ion-col>
                    <ion-col size="9"> 
                      <ion-grid>
                        <ion-row>
                          Letícia Costa
                        </ion-row>
                        <ion-row>
                            1.2 Km
                          </ion-row>
                          <ion-row>
                              R$ 350,00
                          </ion-row>
                      </ion-grid>
                    </ion-col>                    
                  </ion-row>
              </ion-grid>
          </ion-card-content>
        </button>
    </ion-card>
    <ion-card >
        <button ion-item [routerDirection]="'forward'" [routerLink]="'/new-order'">                
          
          <ion-card-content>
              <ion-grid>
                  <ion-row>
                    <ion-col><ion-img src="/assets/testAvatar.png" ></ion-img></ion-col>
                    <ion-col size="9"> 
                      <ion-grid>
                        <ion-row>
                          Marina Carvalho
                        </ion-row>
                        <ion-row>
                            2.4 Km
                          </ion-row>
                          <ion-row>
                              R$ 350,00
                          </ion-row> 
                      </ion-grid>
                    </ion-col>                    
                  </ion-row>
              </ion-grid>
          </ion-card-content>
        </button>
    </ion-card>

</ion-content>
