<ion-header>
  <ion-toolbar>
    <ion-title>Serviços</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="start"></ion-menu-button>      
    </ion-buttons>
    <ion-buttons slot="end">            
        <ion-menu-button menu="end">
          <ion-icon name="notifications"></ion-icon>
        </ion-menu-button>
        <!-- <ion-icon slot="icon-only" name="notifications"></ion-icon> -->      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="no-padding">
<ion-grid class="no-padding">
  <ion-row>
    <ion-searchbar animated showCancelButton placeholder="Procurar por servicos"></ion-searchbar>
  </ion-row>

  
    <ion-row *ngFor='let s of servicesRows' >      
          <ion-col *ngFor='let service of services | slice:s*3:s*3+3'>
            <ion-button [routerLink]="'/subservices/' + service.name" [routerDirection] = "'forward'" size="small" (click)="listSubservices(service.name)" class="no-padding fullwidth services-button">
              {{service.displayText}}
            </ion-button>
          </ion-col>                 

          <ng-container *ngIf ='s == servicesRows.length -1'>            
            <ion-col *ngFor='let r of dummyColumns' >
                
            </ion-col>
          </ng-container>
        

    </ion-row>    
  
  

</ion-grid>
</ion-content>
