<ion-header>
  <ion-toolbar>
    <ion-title>Detalhes do seu serviço</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>    
    <ion-row>
      <ion-col>
        <ion-card >          
            <ion-card-content>
              <ion-grid>
                  <ion-row>
                    <ion-col><ion-img src="/assets/testAvatar.png" ></ion-img></ion-col>
                    <ion-col size="9"> 
                      <ion-grid>
                        <ion-row>
                          {{order.prestadora.nome}}
                        </ion-row>                        
                        <ion-row>
                            {{convertedDistance(order.prestadora.distance)}}
                        </ion-row>                        
                      </ion-grid>
                    </ion-col>                                 
                  </ion-row>
              </ion-grid>
              <ion-row >
                <ion-list>                            
                  <ion-item *ngFor="let subservice of order.chosenSubservices">      
                    <ion-label>{{subservice.caption}}</ion-label>
                    <ion-note slot="end">{{formatPreco(subservice.price)}}</ion-note>                              
                  </ion-item>
                  <ion-item *ngIf="order.prestadora.distancePrice > 0">      
                    <ion-label>Transporte:</ion-label>
                    <ion-note slot="end">{{formatPreco(order.prestadora.distancePrice)}}</ion-note>                              
                  </ion-item>
                  <ion-item>
                    <ion-label><b>Total: </b></ion-label>
                    <ion-note slot="end"><b>{{formatPreco(order.totalPrice)}}</b></ion-note>
                  </ion-item>
                </ion-list>
              </ion-row>
          </ion-card-content>            
        </ion-card>  
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
         {{order.location.name}}
      </ion-col>
    </ion-row>
    <ion-row>      
      Data:{{order.chosenDate}}           
    </ion-row>   
    <ion-row>      
      Horário de Preferência:{{order.chosenTime}}      
    </ion-row>
    <ion-row>      
      <ion-col>        
          {{order.details}}        
      </ion-col>
    </ion-row>    
  </ion-grid>

</ion-content>
